[Desktop Entry] 
Type=Action
Name[en]=RAR: Extract Here
Icon=package-x-generic
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=application/vnd.rar;
Exec=lxqt-archiver --extract-to %d %U
Name[en]=Default profile
SelectionCount==1